[Unit]
Description=incremental backups using Amazon Glacier
Documentation=https://github.com/mrworf/iceshelf
After=network.target

[Service]
# Configure your user here
User=iceshelf
Group=iceshelf

# Configure paths to iceshelf and config here
Environment="ICESHELF=/home/iceshelf/iceshelf/iceshelf"
Environment="CONFIG=/home/iceshelf/backup.conf"

Type=simple
ExecStart=/usr/bin/python ${ICESHELF} ${CONFIG}

# Restart if not finished
RestartForceExitStatus=10
SuccessExitStatus=10

PrivateTmp=true
NoNewPrivileges=true
PrivateDevices=true
# mounts read-only: /usr, /boot and /etc
ProtectSystem=full

# Everything is read-only by default
ReadOnlyDirectories=/
# Allow writing to these directories:        (GnuPG needs to lock its keyrings, add tmp dir, done dir and data dir)
ReadWriteDirectories=/home/iceshelf/.gnupg /home/iceshelf/backup/inprogress /home/iceshelf/backup/metadata /home/iceshelf/backup/done
# Don't allow access to these directories:   (GnuPG needs /dev)
InaccessibleDirectories=-/root -/opt -/run -/sbin

# -20 = highest, 19 lowest
Nice=13
# none, realtime, best-effort, idle
IOSchedulingClass=idle
# 0 = highest, 7 = lowest
IOSchedulingPriority=6


[Install]
WantedBy=multi-user.target
